.setion__calculator-calc {
  background: url("../img/bg_maincalc.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.clear {
  padding-left: 0;
  padding-right: 0;
}

.setion__calculator-calc {
  padding: 30px 52px;
  font-size: 32px;
  color: #262626;
  font-weight: normal;
}
.total-title h2 {
  color: #262626;
  font-size: 32px;
  font-weight: normal;
}
.total-title .subtitle {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: end;
}
.total-title .subtitle p {
  font-size: 14px;
  padding: 0 7px 7px 7px;
  border-bottom: 2px solid orange;
}