/* Section Blog */
.section-blog {
  width: 55%;
  padding-right: 40px;
}
.section-blog p.date {
  margin-bottom: 15px;
}
.section-blog p.date a {
  color: #999;
  font-size: 16px;
}
.section-blog h4.title {
  margin-bottom: 20px;
}
.section-blog h4.title a {
  font-size: 18px;
  color: #262626;
}
.section-blog h4.title a:hover {
  color: purple !important;
}
.section-blog p.desc a {
  font-size: 16px;
  color: #474747;
}
.section-blog .total-news {
  align-items: center;
}
.section-blog .total-news a {
  font-size: 18px;
  color: #262626;
  position: relative;
  display: inline-block;
  text-decoration: underline;
}
.section-blog .total-news a:hover {
  text-decoration: none;
  color: initial !important;
}
.section-blog .total-news a i {
  padding-left: 5px;
  font-size: 0.7em;
}

/* Section Subscribe */
.section__subscribe {
  width: 45%;
}
.section__subscribe fieldset {
  border: 1px dashed #dbdbdb;
  padding: 30px 20px 30px 30px;
}
.section__subscribe legend.legend-title {
  color: #262626;
  font-size: 26px;
}
.section__subscribe .form-group {
  flex-direction: column;
  margin-top: 25px;
  position: relative;
}
.form-input {
  position: relative;
}
.form-input label {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-input label span.name {
  display: block;
  background: url('../img/sprite.png') no-repeat -320px 0;
  width: 16px;
  height: 16px;
}
.form-input label span.phone {
  display: block;
  background: url('../img/sprite.png') no-repeat -346px 0;
  width: 16px;
  height: 18px;
}
.section__subscribe input.inputField {
  height: 50px;
  margin-bottom: 10px;
  padding: 0 15px 0 55px;
  width: 100%;
  color: #474747;
  background: #fff;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
.section__subscribe input.inputField:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}
.section__subscribe h4 {
  margin-bottom: 30px;
  font-size: 16px;
  color: #999;
}
.section__subscribe legend {
  background: #fff;
  color: #333;
  padding: 0 5px;
}
.section__subscribe .section__subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__subscribe .section__subscribe-button button {
  width: 240px;
  height: 50px;
  background: #f4c900;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 15px;
}
.section__subscribe .section__subscribe-button button:hover {
  background: purple;
  color: #fff;
}

@media only screen and (max-width: 999px) {
  .paddingReset {
    padding: 0 25px;
  }
  .section__news-blog {
    flex-direction: column;
  }
  .section-blog {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .section__subscribe {
    width: 100%;
  }
  .total-news {
    text-align: center;
  }
}
