@font-face {
    font-family: 'RalewayRegular';
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
    font-family: 'RalewayBold';
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
:root {
    --background-purple: #6c19ac;
    --color-text: #262626;
    --background-button: #9a9a9a;
    --color-text-hover: #999999;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html,
body {
    font-family: 'RalewayRegular', sans-serif;
}
body {
    background: #fff;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    transition: all 0.2s;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
