.section__services-article {
    flex-direction: row;
}
.section__services-article * {
    font-size: 18px;
}

/* Section A */

.section__services-article-a {
    width: 61%;
}
.section__services-article-a h3 {
    font-size: 36px;
    color: #262626;
    margin-bottom: 15px;
}
.section__services-article-a p {
    margin-bottom: 10px;
}
.section__services-article-a b {
    font-weight: 700;
}
.section__services-article-a ul li {
    padding-left: 15px;
    margin-bottom: 3px;
    position: relative;
}
.section__services-article-a ul li::after {
    content: '•';
    position: absolute;
    left: 0;
    top: 2px;
}
.section__services-article-a ul li a {
    text-decoration: underline;
    color: #262626;
}

/* Section B */

.section__services-article-b {
    position: relative;
    width: 39%;
}
.section__services-article-b .article-card {
    flex-direction: column;
    align-items: center;
}
.article-img {
    max-width: 365px;
}
.article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-button a {
    color: #fff;
    font-size: 18px;
    text-align: center;
    width: 240px;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
    background: #6c19ac;
    display: block;
}
.article-button a:hover {
    background: #421068;
    color: #fff!important;
}

@media only screen and (max-width: 768px) {
    .section__services-article {
        flex-direction: column;
    }
    .section__services-article-a {
        width: 100%;
        order: 2;
    }
    .section__services-article-b {
        width: 100%;
        order: 1;
    }
    .article-button {
        position: absolute;
        bottom: -320px;
        left: 50%;
        transform: translateX(-50%);
    }
    section.section__services {
        margin-bottom: 20px;
        padding-bottom: 80px;
    }
}